<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>HuD¿ About Us</title>
    <link rel="stylesheet" type="text/css" href="public/css/profile.css">
    <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash&display=swap" rel="stylesheet">
</head>
<body>

<div class="navbar">
  <a class="logo" id=logo href="/homepage" style="float: left">HuD¿</a>
  <a class='active' href="/homepage">Home</a>
  <a class='active' href="/myprofile">My Profile</a>
  <a class='active' href="/about">About</a>
  <div class="dropdown" style="float: right">
    <button class="dropbtn">Ehi <%- user%></button>
    <div class="dropdown-content">
      <a href="/logout"><img src="public/img/sign-out.png"> Logout</a>
    </div>
  </div> 
</div>





<br><br>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


  <div class="row">
  	<div class="column">
  	<div class="card">
		    <div id="profile-container">
   	    <image id="profileImage"  src='http://lorempixel.com/100/100'/>;  
		    </div>
  
		<button id="Edit" type='button'><img src="public/img/pencil.jpg"></button><br> 
		<input id="imageUpload" type="file"  name="profile_photo"  placeholder="Photo" required="" capture>
		<div>
  <form  action="/edit" method="POST">
		<div class="data">
			<h3>Nome</h3> 
  
		<input  type ="text" id='editing1'  style = "text-align:center;" name = "first_name" value = '<%- name%>' /> 
			<h3>Cognome</h3>
		<input  type ="text" id='editing2' style = "text-align:center;" name = "last_name" value = '<%- surname%>'/>
			<h3>Età</h3>
		<input  type ="text" id='editing3' style = "text-align:center;" name = "age" value = '<%- age%>' />
			<h3>Bio</h3>
		<input  type ="text" id='editing4' style = "text-align:center;" name = "bio" value = '<%- bio%>' />
			<h3>Profilo Instagram</h3>
		<p id='editing5' contenteditable="false">Profilo Instagram</p>
		</div>
		</div>
		<div class="edited" style="display:none" > 
		<input type="submit"  value='Edit profile' /><br>
     </form>
		</div>
	
  	</div>
  </div>
  </div>
 
<!-- script per permettere il caricamento della foto profilo accedendo alle immagini presenti nel proprio dispositivo -->
<script type="text/javascript">

	$("#profileImage").click(function(e) {
    $("#imageUpload").click();
	});

	function fasterPreview( uploader ) {
    	if ( uploader.files && uploader.files[0] ){
        	  $('#profileImage').attr('src', 
             window.URL.createObjectURL(uploader.files[0]) );
    	}
	}	

	$("#imageUpload").change(function(){
    	fasterPreview( this );
	});
</script>

<!-- script per permettere la modifica dei campi nel proprio profilo -->
<script type="text/javascript">
 

    document.getElementById('editing1').readOnly =true;
    document.getElementById('editing2').readOnly =true;
    document.getElementById('editing3').readOnly =true;
    document.getElementById('editing4').readOnly =true;
    document.getElementById('editing5').readOnly =true;

  document.getElementById('Edit').addEventListener('click', function(){
    document.querySelector('.edited').style.display = 'flex';
    document.getElementById('editing1').readOnly =false;
    document.getElementById('editing2').readOnly =false;
    document.getElementById('editing3').readOnly =false;
    document.getElementById('editing4').readOnly =false;
    document.getElementById('editing5').readOnly =false;
  });



  document.getElementById('change').addEventListener('click', function(){
    document.querySelector('.edited').style.display = 'none';
    document.getElementById('editing1').readOnly =true;
    document.getElementById('editing2').readOnly =true;
    document.getElementById('editing3').readOnly =true;
    document.getElementById('editing4').readOnly =true;
    document.getElementById('editing5').readOnly =true;
  });

</script>



</body>
</html>